<center>
<img src="../../img/ods_stickers.jpg" />
    
## [mlcourse.ai](mlcourse.ai) ï¿½ Open Machine Learning Course 
Author: Arina Lopukhova (@erynn). Edited by [Yury Kashnitskiy](https://yorko.github.io) (@yorko). This material is subject to the terms and conditions of the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license. Free use is permitted for any non-commercial purpose.

<h1><center>Assignment #1. Fall 2018</center></h1>
<h2><center>Exploratory data analysis of Olympic games with Pandas</center></h2>

__There are ten questions about [120 years of Olympic history: athletes and results](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results/version/2) dataset in this task. Your task is to fill in the missing Python code and choose answers in [this web-form](https://docs.google.com/forms/d/179HYvlF_0x435CWdu2aOtR9a3flh0YCQXXNXhXaKw2M).__

Download the file `athlete_events.csv` from [Kaggle page](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results). The dataset has the following features (copied from Kaggle):

- __ID__ - Unique number for each athlete
- __Name__ - Athlete's name
- __Sex__ - M or F
- __Age__ - Integer
- __Height__ - In centimeters
- __Weight__ - In kilograms
- __Team__ - Team name
- __NOC__ - National Olympic Committee 3-letter code
- __Games__ - Year and season
- __Year__ - Integer
- __Season__ - Summer or Winter
- __City__ - Host city
- __Sport__ - Sport
- __Event__ - Event
- __Medal__ - Gold, Silver, Bronze, or NA

In [1]:
import pandas as pd

In [2]:
# Change the path to the dataset file if needed. 
PATH = 'athlete_events.csv'

In [3]:
data = pd.read_csv(PATH)
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

__1. How old were the youngest male and female participants of the 1996 Olympics?__

- 16 and 15
- 14 and 12 
- 16 and 12
- 13 and 11

In [32]:
data[(data['Year'] == 1996) & (data['Sex'] == 'F') & (data['Age'])].min()

ID                                13
Name                 Aa Bela Joaquim
Sex                                F
Age                               12
Height                           136
Weight                            30
Team                         Albania
NOC                              ALB
Games                    1996 Summer
Year                            1996
Season                        Summer
City                         Atlanta
Sport                        Archery
Event     Archery Women's Individual
dtype: object

In [27]:
data[(data['Year'] == 1996) & (data['Sex'] == 'M') & (data['Age'])].min()

ID                                             30
Name      A. J. Tyronne Benildus "Benny" Fernando
Sex                                             M
Age                                            14
Height                                        147
Weight                                         45
Team                                  Afghanistan
NOC                                           AFG
Games                                 1996 Summer
Year                                         1996
Season                                     Summer
City                                      Atlanta
Sport                                     Archery
Event                    Archery Men's Individual
dtype: object

__2. What was the percentage of male gymnasts among all the male participants of the 2000 Olympics? Round the answer to the first decimal.__

*Hint:* here and further if needed drop duplicated sportsmen to count only unique ones. 

- 0.2
- 1.5 
- 2.5
- 7.7

In [65]:
data[(data['Year'] == 2000) & (data['Sex'] == 'M')]['ID'].drop_duplicates().count()

6579

In [62]:
x.loc[:,['ID']].drop_duplicates().count()

ID    6579
dtype: int64

In [83]:
data[(data['Year'] == 2000) & (data['Sex'] == 'M') & (data['Sport'] == 'Gymnastics')]['ID'].drop_duplicates().count()

97

In [84]:
round(100 * data[(data['Year'] == 2000) & (data['Sex'] == 'M') & (data['Sport'] == 'Gymnastics')]['ID'].drop_duplicates().count() / \
data[(data['Year'] == 2000) & (data['Sex'] == 'M')]['ID'].drop_duplicates().count(), 1)

1.5

__3. What are the mean and standard deviation of height for female basketball players participated in the 2000 Olympics? Round the answer to the first decimal.__

- 178.5 and 7.2
- 179.4 and 10
- 180.7 and 6.7
- 182.4 and 9.1

In [89]:
data[(data['Year'] == 2000) & (data['Sex'] == 'F') & (data['Sport'] == 'Basketball')]['Height'].describe()

count    142.000000
mean     182.387324
std        9.139462
min      162.000000
25%      175.000000
50%      182.000000
75%      190.000000
max      213.000000
Name: Height, dtype: float64

__4. Find a sportsperson participated in the 2002 Olympics, with the highest weight among other participants of the same Olympics. What sport did he or she do?__

- Judo
- Bobsleigh 
- Weightlifting
- Boxing

In [102]:
data[(data['Year'] == 2002) & (data['Weight'] == 123)]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
99154,50171,Emmanuel Hostache,M,26.0,190.0,123.0,France,FRA,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Two,NaN

__5. How many times did Pawe Abratkiewicz participate in the Olympics held in different years?__

- 0
- 1 
- 2
- 3

In [104]:
data[(data['Name'] == 'Pawe Abratkiewicz')]['Year'].drop_duplicates()

997     1992
999     1998
1001    2002
Name: Year, dtype: int64

__6. How many silver medals in tennis did Australia win at the 2000 Olympics?__

- 0
- 1 
- 2 
- 3

In [105]:
data[(data['Year'] == 2000) & (data['Team'] == 'Australia') & (data['Sport'] == 'Tennis') & (data['Medal'] == 'Silver')]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
262820,131504,Todd Andrew Woodbridge,M,29.0,178.0,75.0,Australia,AUS,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Men's Doubles,Silver
262831,131511,Mark Raymond Woodforde,M,34.0,183.0,80.0,Australia,AUS,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Men's Doubles,Silver

__7. Is it true that Switzerland won fewer medals than Serbia at the 2016 Olympics? Do not consider NaN values in _Medal_ column.__ 

- Yes 
- No

In [12]:
Sw_gold = data[(data['Year'] == 2016) & (data['Team'] == 'Switzerland') & (data['Medal'] == 'Gold')]['Medal'].count()
Sw_silver = data[(data['Year'] == 2016) & (data['Team'] == 'Switzerland') & (data['Medal'] == 'Silver')]['Medal'].count()
Sw_bronze = data[(data['Year'] == 2016) & (data['Team'] == 'Switzerland') & (data['Medal'] == 'Bronze')]['Medal'].count()
print('Ð¨Ð²ÐµÐ¹ÑÐ°ÑÐ¸Ñ - ',Sw_gold + Sw_silver + Sw_bronze,' Ð¼ÐµÐ´Ð°Ð»ÐµÐ¹')

Ser_gold = data[(data['Year'] == 2016) & (data['Team'] == 'Serbia') & (data['Medal'] == 'Gold')]['Medal'].count()
Ser_silver = data[(data['Year'] == 2016) & (data['Team'] == 'Serbia') & (data['Medal'] == 'Silver')]['Medal'].count()
Ser_bronze = data[(data['Year'] == 2016) & (data['Team'] == 'Serbia') & (data['Medal'] == 'Bronze')]['Medal'].count()
print('Ð¡ÐµÑÐ±Ð¸Ñ - ',Ser_gold + Ser_silver + Ser_bronze,' Ð¼ÐµÐ´Ð°Ð»ÐµÐ¹')

Ð¨Ð²ÐµÐ¹ÑÐ°ÑÐ¸Ñ -  11  Ð¼ÐµÐ´Ð°Ð»ÐµÐ¹
Ð¡ÐµÑÐ±Ð¸Ñ -  54  Ð¼ÐµÐ´Ð°Ð»ÐµÐ¹

In [11]:
data[(data['Year'] == 2016) & \
    (data['Team'].isin(['Switzerland', 'Serbia'])) & \
    (~ data['Medal'].isnull())].groupby('Team').size()

Team
Serbia         54
Switzerland    11
dtype: int64

__8. What age category did the fewest and the most participants of the 2014 Olympics belong to?__
- [45-55] and [25-35) correspondingly
- [45-55] and [15-25) correspondingly
- [35-45] and [25-35) correspondingly
- [45-55] and [35-45) correspondingly

In [59]:
data[data['Year'] == 2014]['Age']

40        28.0
252       20.0
277       28.0
278       28.0
809       17.0
810       17.0
811       17.0
942       25.0
943       25.0
947       25.0
952       26.0
953       26.0
954       26.0
955       26.0
956       26.0
1206      23.0
1207      23.0
1334      28.0
1519      24.0
1641      17.0
1911      20.0
1915      37.0
1957      18.0
1958      18.0
2013      23.0
2128      26.0
2157      22.0
2158      22.0
2563      36.0
2564      36.0
          ...
270061    18.0
270144    23.0
270145    23.0
270167    24.0
270175    27.0
270176    27.0
270177    27.0
270178    27.0
270253    21.0
270254    21.0
270260    40.0
270261    40.0
270275    20.0
270276    20.0
270392    24.0
270510    27.0
270511    27.0
270512    27.0
270513    27.0
270593    21.0
270609    39.0
270610    39.0
270675    26.0
270928    25.0
270929    25.0
270930    25.0
270966    21.0
270967    21.0
271112    27.0
271113    27.0
Name: Age, Length: 4891, dtype: float64

In [34]:
pd.cut(data[data['Year'] == 2014]['Age'], bins=[15,25,35,45,55], right=False).value_counts()

[25, 35)    2594
[15, 25)    2027
[35, 45)     265
[45, 55)       4
Name: Age, dtype: int64

__9. Is it true that there were Summer Olympics held in Lake Placid? Is it true that there were Winter Olympics held in Sankt Moritz?__

- Yes, Yes
- Yes, No
- No, Yes 
- No, No

In [41]:
data[(data['Season'] == 'Summer') & (data['City'] == 'Lake Placid')].bool

<bound method NDFrame.bool of Empty DataFrame
Columns: [ID, Name, Sex, Age, Height, Weight, Team, NOC, Games, Year, Season, City, Sport, Event, Medal]
Index: []>

In [45]:
data[(data['Season'] == 'Winter') & (data['City'] == 'Sankt Moritz')].bool

<bound method NDFrame.bool of             ID                                      Name Sex   Age  Height  \
935        529           Karl Gustaf Emanuel Abrahamsson   M  31.0     NaN
1187       665                     Gilbert Achard-Picard   M  29.0     NaN
1439       802                    Tadeusz Ralf Adamowski   M  26.0   177.0
1454       810         Bridget Shirley Adams (-Bengough)   F  19.0     NaN
2707      1508                            Enrico Airoldi   M  24.0     NaN
2708      1509                              Remo Airoldi   M  26.0     NaN
5053      2876                  Theodor "Theo" Allenbach   M  23.0     NaN
5054      2876                  Theodor "Theo" Allenbach   M  23.0     NaN
5132      2921                           Fernando Alloni   M  22.0     NaN
5332      3022                    Pentti Johannes Alonen   M  22.0   172.0
5333      3022                    Pentti Johannes Alonen   M  22.0   172.0
5334      3022                    Pentti Johannes Alonen   M  22.0   172.0
5478      3091                        Alfred Altenburger   M  24.0     NaN
5514      3118         Jeannette Eleanor Altwegg (-Wirz)   F  17.0     NaN
5702      3215                              Silvio Alver   M  26.0     NaN
5703      3215                              Silvio Alver   M  26.0     NaN
5704      3215                              Silvio Alver   M  26.0     NaN
6591      3686                        Alf Steen Andersen   M  21.0     NaN
6673      3734                    Hjalmar Johan Andersen   M  24.0     NaN
6918      3882                       ke Gustav Andersson   M  29.0     NaN
6991      3923  Fritz Gustaf Adolf Andersson (-Gabeling)   M  24.0     NaN
6992      3923  Fritz Gustaf Adolf Andersson (-Gabeling)   M  24.0     NaN
6993      3923  Fritz Gustaf Adolf Andersson (-Gabeling)   M  24.0     NaN
6994      3923  Fritz Gustaf Adolf Andersson (-Gabeling)   M  24.0     NaN
7133      3987             Stig Gustaf Emanuel Andersson   M  33.0     NaN
7143      3995                     Karl Volger Andersson   M  32.0     NaN
7144      3995                     Karl Volger Andersson   M  32.0     NaN
7345      4110                  Giannin "Gian" Andreossi   M  25.0     NaN
7346      4111               Munrezzan "Mezzi" Andreossi   M  30.0     NaN
7852      4348                    Heinrich "Heiri" Angst   M  32.0     NaN
...        ...                                       ...  ..   ...     ...
263150  131673                              Ludwig Wrede   M  33.0     NaN
263151  131673                              Ludwig Wrede   M  33.0     NaN
263153  131675                    Gordon L. "Gordy" Wren   M  29.0     NaN
263154  131675                    Gordon L. "Gordy" Wren   M  29.0     NaN
263155  131675                    Gordon L. "Gordy" Wren   M  29.0     NaN
263555  131881                         Rudolf Wurmbrandt   M  25.0   193.0
263562  131886                   Rhona Wurtele (-Gillis)   F  26.0     NaN
263654  131934                         Cecil Irton Wylde   M  24.0     NaN
265212  132727                      Takeo Yazawa-Hoshina   M  21.0   169.0
266685  133411                          Osman Yce Erolu    M  18.0     NaN
266686  133411                          Osman Yce Erolu    M  18.0     NaN
266687  133411                          Osman Yce Erolu    M  18.0     NaN
267059  133608                            Oldich Zbrodsk   M  21.0     NaN
267067  133610                  Vladimr Olegovic Zbrodsk   M  24.0     NaN
267321  133744                            Frantiek Zajek   M  35.0     NaN
267322  133745                            Jaroslav Zajek   M  27.0     NaN
267323  133745                            Jaroslav Zajek   M  27.0     NaN
267324  133745                            Jaroslav Zajek   M  27.0     NaN
267622  133889                          Luciano Zampatti   M   NaN     NaN
268246  134210                       Kazimierz Zebrowski   M  36.0     NaN
268311  134249                                Hans Zeier   M  29.0     NaN
269613  134910                              Ernest Ziaja   M  28.0     NaN
270251  135193                                David Zogg   M  25.0     NaN
270252  135194                              Florian Zogg   M  27.0     NaN
270351  135237                       Gianantonio Zopegni   M  32.0     NaN
270713  135383                  Annelore Zckert (-Zrost)   F  22.0     NaN
270714  135383                  Annelore Zckert (-Zrost)   F  22.0     NaN
270863  135463                           Hans Zurbriggen   M  27.0     NaN
270881  135466                         Robert Zurbriggen   M  30.0     NaN
270882  135466                         Robert Zurbriggen   M  30.0     NaN

        Weight            Team  NOC        Games  Year  Season          City  \
935        NaN          Sweden  SWE  1928 Winter  1928  Winter  Sankt Moritz
1187       NaN        France-2  FRA  1948 Winter  1948  Winter  Sankt Moritz
1439      70.0          Poland  POL  1928 Winter  1928  Winter  Sankt Moritz
1454       NaN   Great Britain  GBR  1948 Winter  1948  Winter  Sankt Moritz
2707       NaN         Italy-2  ITA  1948 Winter  1948  Winter  Sankt Moritz
2708       NaN         Italy-2  ITA  1948 Winter  1948  Winter  Sankt Moritz
5053       NaN     Switzerland  SUI  1948 Winter  1948  Winter  Sankt Moritz
5054       NaN     Switzerland  SUI  1948 Winter  1948  Winter  Sankt Moritz
5132       NaN           Italy  ITA  1948 Winter  1948  Winter  Sankt Moritz
5332      65.0         Finland  FIN  1948 Winter  1948  Winter  Sankt Moritz
5333      65.0         Finland  FIN  1948 Winter  1948  Winter  Sankt Moritz
5334      65.0         Finland  FIN  1948 Winter  1948  Winter  Sankt Moritz
5478       NaN     Switzerland  SUI  1948 Winter  1948  Winter  Sankt Moritz
5514       NaN   Great Britain  GBR  1948 Winter  1948  Winter  Sankt Moritz
5702       NaN           Italy  ITA  1948 Winter  1948  Winter  Sankt Moritz
5703       NaN           Italy  ITA  1948 Winter  1948  Winter  Sankt Moritz
5704       NaN           Italy  ITA  1948 Winter  1948  Winter  Sankt Moritz
6591       NaN          Norway  NOR  1928 Winter  1928  Winter  Sankt Moritz
6673       NaN          Norway  NOR  1948 Winter  1948  Winter  Sankt Moritz
6918       NaN          Sweden  SWE  1948 Winter  1948  Winter  Sankt Moritz
6991       NaN          Sweden  SWE  1928 Winter  1928  Winter  Sankt Moritz
6992       NaN          Sweden  SWE  1928 Winter  1928  Winter  Sankt Moritz
6993       NaN          Sweden  SWE  1928 Winter  1928  Winter  Sankt Moritz
6994       NaN          Sweden  SWE  1928 Winter  1928  Winter  Sankt Moritz
7133       NaN          Sweden  SWE  1948 Winter  1948  Winter  Sankt Moritz
7143       NaN          Sweden  SWE  1928 Winter  1928  Winter  Sankt Moritz
7144       NaN          Sweden  SWE  1928 Winter  1928  Winter  Sankt Moritz
7345       NaN     Switzerland  SUI  1928 Winter  1928  Winter  Sankt Moritz
7346       NaN     Switzerland  SUI  1928 Winter  1928  Winter  Sankt Moritz
7852       NaN   Switzerland-1  SUI  1948 Winter  1948  Winter  Sankt Moritz
...        ...             ...  ...          ...   ...     ...           ...
263150     NaN         Austria  AUT  1928 Winter  1928  Winter  Sankt Moritz
263151     NaN       Austria-2  AUT  1928 Winter  1928  Winter  Sankt Moritz
263153     NaN   United States  USA  1948 Winter  1948  Winter  Sankt Moritz
263154     NaN   United States  USA  1948 Winter  1948  Winter  Sankt Moritz
263155     NaN   United States  USA  1948 Winter  1948  Winter  Sankt Moritz
263555     NaN         Austria  AUT  1948 Winter  1948  Winter  Sankt Moritz
263562     NaN          Canada  CAN  1948 Winter  1948  Winter  Sankt Moritz
263654     NaN   Great Britain  GBR  1928 Winter  1928  Winter  Sankt Moritz
265212    62.0           Japan  JPN  1928 Winter  1928  Winter  Sankt Moritz
266685     NaN          Turkey  TUR  1948 Winter  1948  Winter  Sankt Moritz
266686     NaN          Turkey  TUR  1948 Winter  1948  Winter  Sankt Moritz
266687     NaN          Turkey  TUR  1948 Winter  1948  Winter  Sankt Moritz
267059     NaN  Czechoslovakia  TCH  1948 Winter  1948  Winter  Sankt Moritz
267067     NaN  Czechoslovakia  TCH  1948 Winter  1948  Winter  Sankt Moritz
267321     NaN  Czechoslovakia  TCH  1948 Winter  1948  Winter  Sankt Moritz
267322     NaN  Czechoslovakia  TCH  1948 Winter  1948  Winter  Sankt Moritz
267323     NaN  Czechoslovakia  TCH  1948 Winter  1948  Winter  Sankt Moritz
267324     NaN  Czechoslovakia  TCH  1948 Winter  1948  Winter  Sankt Moritz
267622     NaN           Italy  ITA  1928 Winter  1928  Winter  Sankt Moritz
268246     NaN          Poland  POL  1928 Winter  1928  Winter  Sankt Moritz
268311     NaN     Switzerland  SUI  1928 Winter  1928  Winter  Sankt Moritz
269613     NaN          Poland  POL  1948 Winter  1948  Winter  Sankt Moritz
270251     NaN     Switzerland  SUI  1928 Winter  1928  Winter  Sankt Moritz
270252     NaN     Switzerland  SUI  1928 Winter  1928  Winter  Sankt Moritz
270351     NaN           Italy  ITA  1948 Winter  1948  Winter  Sankt Moritz
270713     NaN         Austria  AUT  1948 Winter  1948  Winter  Sankt Moritz
270714     NaN         Austria  AUT  1948 Winter  1948  Winter  Sankt Moritz
270863     NaN     Switzerland  SUI  1948 Winter  1948  Winter  Sankt Moritz
270881     NaN     Switzerland  SUI  1948 Winter  1948  Winter  Sankt Moritz
270882     NaN     Switzerland  SUI  1948 Winter  1948  Winter  Sankt Moritz

                       Sport  \
935               Ice Hockey
1187               Bobsleigh
1439              Ice Hockey
1454          Figure Skating
2707               Bobsleigh
2708               Bobsleigh
5053    Cross Country Skiing
5054         Nordic Combined
5132           Speed Skating
5332           Alpine Skiing
5333           Alpine Skiing
5334           Alpine Skiing
5478           Speed Skating
5514          Figure Skating
5702           Alpine Skiing
5703           Alpine Skiing
5704           Alpine Skiing
6591             Ski Jumping
6673           Speed Skating
6918              Ice Hockey
6991           Speed Skating
6992           Speed Skating
6993           Speed Skating
6994           Speed Skating
7133              Ice Hockey
7143    Cross Country Skiing
7144    Cross Country Skiing
7345              Ice Hockey
7346              Ice Hockey
7852               Bobsleigh
...                      ...
263150        Figure Skating
263151        Figure Skating
263153           Ski Jumping
263154  Cross Country Skiing
263155       Nordic Combined
263555            Ice Hockey
263562         Alpine Skiing
263654            Ice Hockey
265212  Cross Country Skiing
266685         Alpine Skiing
266686         Alpine Skiing
266687         Alpine Skiing
267059            Ice Hockey
267067            Ice Hockey
267321             Bobsleigh
267322  Cross Country Skiing
267323  Cross Country Skiing
267324  Cross Country Skiing
267622           Ski Jumping
268246            Ice Hockey
268311  Cross Country Skiing
269613            Ice Hockey
270251       Nordic Combined
270252  Cross Country Skiing
270351            Ice Hockey
270713         Alpine Skiing
270714         Alpine Skiing
270863           Ski Jumping
270881  Cross Country Skiing
270882  Cross Country Skiing

                                                    Event   Medal
935                           Ice Hockey Men's Ice Hockey  Silver
1187                                 Bobsleigh Men's Four     NaN
1439                          Ice Hockey Men's Ice Hockey     NaN
1454                       Figure Skating Women's Singles     NaN
2707                                 Bobsleigh Men's Four     NaN
2708                                 Bobsleigh Men's Four     NaN
5053             Cross Country Skiing Men's 18 kilometres     NaN
5054                     Nordic Combined Men's Individual     NaN
5132                     Speed Skating Men's 5,000 metres     NaN
5332                         Alpine Skiing Men's Downhill     NaN
5333                           Alpine Skiing Men's Slalom     NaN
5334                         Alpine Skiing Men's Combined     NaN
5478                     Speed Skating Men's 5,000 metres     NaN
5514                       Figure Skating Women's Singles  Bronze
5702                         Alpine Skiing Men's Downhill     NaN
5703                           Alpine Skiing Men's Slalom     NaN
5704                         Alpine Skiing Men's Combined     NaN
6591            Ski Jumping Men's Normal Hill, Individual    Gold
6673                    Speed Skating Men's 10,000 metres     NaN
6918                          Ice Hockey Men's Ice Hockey     NaN
6991                       Speed Skating Men's 500 metres     NaN
6992                     Speed Skating Men's 1,500 metres     NaN
6993                     Speed Skating Men's 5,000 metres     NaN
6994                    Speed Skating Men's 10,000 metres     NaN
7133                          Ice Hockey Men's Ice Hockey     NaN
7143             Cross Country Skiing Men's 18 kilometres     NaN
7144             Cross Country Skiing Men's 50 kilometres  Bronze
7345                          Ice Hockey Men's Ice Hockey  Bronze
7346                          Ice Hockey Men's Ice Hockey  Bronze
7852                                 Bobsleigh Men's Four     NaN
...                                                   ...     ...
263150                       Figure Skating Men's Singles     NaN
263151                         Figure Skating Mixed Pairs  Bronze
263153          Ski Jumping Men's Normal Hill, Individual     NaN
263154           Cross Country Skiing Men's 18 kilometres     NaN
263155                   Nordic Combined Men's Individual     NaN
263555                        Ice Hockey Men's Ice Hockey     NaN
263562                     Alpine Skiing Women's Downhill     NaN
263654                        Ice Hockey Men's Ice Hockey     NaN
265212           Cross Country Skiing Men's 18 kilometres     NaN
266685                       Alpine Skiing Men's Downhill     NaN
266686                         Alpine Skiing Men's Slalom     NaN
266687                       Alpine Skiing Men's Combined     NaN
267059                        Ice Hockey Men's Ice Hockey  Silver
267067                        Ice Hockey Men's Ice Hockey  Silver
267321                               Bobsleigh Men's Four     NaN
267322           Cross Country Skiing Men's 18 kilometres     NaN
267323           Cross Country Skiing Men's 50 kilometres     NaN
267324  Cross Country Skiing Men's 4 x 10 kilometres R...     NaN
267622          Ski Jumping Men's Normal Hill, Individual     NaN
268246                        Ice Hockey Men's Ice Hockey     NaN
268311           Cross Country Skiing Men's 50 kilometres     NaN
269613                        Ice Hockey Men's Ice Hockey     NaN
270251                   Nordic Combined Men's Individual     NaN
270252           Cross Country Skiing Men's 18 kilometres     NaN
270351                        Ice Hockey Men's Ice Hockey     NaN
270713                     Alpine Skiing Women's Downhill     NaN
270714                       Alpine Skiing Women's Slalom     NaN
270863          Ski Jumping Men's Normal Hill, Individual     NaN
270881           Cross Country Skiing Men's 18 kilometres     NaN
270882  Cross Country Skiing Men's 4 x 10 kilometres R...     NaN

[1657 rows x 15 columns]>

__10. What is the absolute difference between the number of unique sports at the 1995 Olympics and 2016 Olympics?__

- 16
- 24
- 26
- 34

In [58]:
data[data['Year'] == 2016]['Sport'].drop_duplicates().count() - data[data['Year'] == 1995]['Sport'].drop_duplicates().count()

34